@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

body {
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #141414;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100svh;
}
